@tailwind base;
@tailwind components;

@font-face {
  font-family: 'FreeSans';
  src: url(./fonts/FreeSans-LrmZ.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'FreeSans';
  src: url(./fonts/FreeSansBold-Xgdd.ttf);
  font-style: normal;
  font-weight: 600;
}

@tailwind utilities;

@layer components {
  /* KEYS */
  .key {
    @apply border rounded-md shadow-md flex flex-col justify-end items-center;
  }

  .key-white {
    @apply h-64 w-10;
  }
  .key-white-small {
    @apply h-44 w-10;
  }

  .key-white-unselected {
    @apply bg-white border-gray-400 text-gray-800;
  }
  .key-white-unselected:hover {
    @apply bg-purple-100 border-purple-200 text-purple-800;
  }
  .key-white-selected {
    @apply bg-orange-400 border-orange-500 text-orange-900;
  }
  .key-white-selected:hover {
    @apply bg-orange-300 border-orange-400 text-orange-800;
  }
  .key-white-root {
    @apply bg-blue-400 border-blue-500 text-blue-900;
  }
  .key-white-root:hover {
    @apply bg-blue-300 border-blue-400 text-blue-800;
  }

  .key-black {
    @apply h-40 w-6 -mx-3 z-10 text-sm;
  }
  .key-black-small {
    @apply h-28 w-6 -mx-3 z-10 text-sm;
  }

  .key-black-unselected {
    @apply bg-gray-800 border-gray-900 text-gray-200;
  }
  .key-black-unselected:hover {
    @apply bg-purple-900 border-gray-900 text-purple-200;
  }
  .key-black-selected {
    @apply bg-orange-800 border-orange-900 text-orange-200;
  }
  .key-black-selected:hover {
    @apply bg-orange-700 border-orange-800 text-orange-100;
  }
  .key-black-root {
    @apply bg-blue-800 border-blue-900 text-blue-200;
  }
  .key-black-root:hover {
    @apply bg-blue-700 border-blue-800 text-blue-100;
  }

  /* DIVS */
  .box {
    @apply bg-white border border-gray-400 rounded-lg;
  }

  .pop-out {
    @apply border-gray-500 shadow-xl;
  }

  .drop-down {
    @apply absolute right-0 top-0 z-40;
  }

  /* TAB-SELECTION */
  .tab-selection {
    @apply border-2 rounded-lg border-transparent;
  }

  .tab-selection:focus {
    @apply outline-none;
  }

  .tab-selection:focus-visible {
    @apply border-blue-200 shadow;
  }

  /* BUTTONS */
  .btn {
    @apply bg-blue-700 border border-blue-800 rounded-lg;
  }

  .btn-text {
    @apply text-gray-100 text-sm font-bold tracking-widest;
  }

  .btn-p {
    @apply px-4 py-1;
  }

  .btn:hover {
    @apply bg-blue-600 border-blue-700;
  }
}
